/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html {
    font-size: 64%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    padding: .5rem;
}

.nav-container {
    margin-bottom: 0;
}
.nav-menu {
    position: relative;
}

.burger-menu {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.nav-list {
    background-color:#FF6752;
    border: 1px solid white;
    position: absolute;
    right: 0;
    top: 2rem;
    height: 15rem;
    width: 20rem;
    z-index: 1000;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.nav-menu:hover .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-list li {
    list-style-type: none;
}

nav a{
    color: #F8F8F8;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    margin: 0 1rem;
}
.header {
    padding: 2rem;
    background-color:#FF6752;
    margin-bottom: 10rem;
    margin: 0;
}
.section {
    background-color:#FF6752;
    height: 100vh;
}
.section-secondary {
    background-color: #F8F8F8;
}
.content{
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content-space {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-container{
    width:3rem;
    height:3rem;
    background-color: #FFFFFF;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
}
.logo{
    display: block;
    width: auto;
    height: 52px;
}
.article{
    padding: 3rem;
}
.article h1{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 6rem;
    margin: 1rem auto;
}
.article p{
    color: #F8F8F8;
    font-weight: 400;
    font-size: 1.8rem;
}
.article-secondary{
    color:#808080;

}
.article-secondary h2{
    color: #FF6752;
    font-size: 5rem;
    margin: 1rem auto;
}
.article-secondary p{
    color: #808080;
    font-weight: 400;
    font-size: 1.8rem;
}
.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.input-group label {
    display: inline-block;
    color: #FF6752;
    font-size: 1.4rem;
    font-weight: 700;
}
.input-group input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: #808080 3px 3px 5px;
            box-shadow: #808080 3px 3px 5px;
    width: 200px;
}

.input-group .input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: #808080 3px 3px 5px;
            box-shadow: #808080 3px 3px 5px;
    width: 400px;
}

textarea {
    height: 100px;
}
.with-arrow-container {
    margin: 15px 0;
    position: relative;
    width: 200px;
}
.with-arrow::after {
    position: absolute;
    bottom: 50%;
    right: 0;
    content: "";
    background-color: #FF6752;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-3px, 15px);
        -ms-transform: translate(-3px, 15px);
            transform: translate(-3px, 15px);
}
.button-primary{
    padding: 1rem 1.8rem;
    background-color: #4487FF;
    border-radius: 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    color: #F8F8F8;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.button-primary:hover{
    background-color: #00225C;
    cursor: pointer;
}
.row-start{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.row-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.anchor{
    color: #F8F8F8;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    margin: 0 1rem;
}
.dog-image{
    height: 45rem;
    display: block;
    width: auto;
}

.w-100 {
    width: 100%;
    max-width: 100%;
}

.w-50 {
    width: 50%;
}

.mv-l {
    margin: 15px auto;
}

.ml-l {
    margin-left: 3rem;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 900px) {
    .title {
        text-align: center;
    }

    .section {
        height: auto;
        padding: 5px;
    }
  
    .input-group label {
        font-size: 1.2rem;
    }

    .input-group .input {
        width: 300px;
    }
    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
    }
    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .nav-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .w-50 {
        width: 100%;
    }

    .article{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 3px 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .article h1{
        font-size: 2rem;
        margin: .5rem auto;
    }
    .article p{
        font-size: 1.4rem;
    }
    .article-secondary h2{
        font-size: 4rem;
        margin: .5rem auto;
    }
    .article-secondary p{
        font-size: 1.6rem;
    }
    .service-card {
        width: 200px;
        height: auto;
        display: block;
    }

    .ml-l {
        margin-left: 1rem;
    }
    
    .dog-image{
        height: auto;
        width: 100%;
    }
}